<div class="jumbotron">
    <h1>GasStationPharmacy Web Service</h1>
    <p class="lead">Mockup de un servicio de compras en línea para farmacias implementado servicios Restful desarrollado en C# y las páginas web desarrolladas con HTML5,AngularJS Y Boostrap.</p>
    <p><a href="https://github.com/kgonzalez712/GasStationPharmacy" class="btn btn-primary btn-lg">Más Info Aquí &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Desarrollado Por:</h2>
        <p>Kevin González Sanabria.</p>
        <p>Estudiante de Ingeniería en Computadores en el Instituto Tecnológico de Costa Rica.</p>
    </div>
    <div class="col-md-4">
        <h2>Referencias Utilizadas</h2>
        <p>Para el desarrollo del API toda la información fue recopilada de la documentación oficial de Microsoft.</p>
        <p><a class="btn btn-default" href="https://dotnet.microsoft.com/apps/aspnet/apis">Documentación de Microsoft &raquo;</a></p>
    </div>
</div>
